@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    color: #000000;
}

.container {
    margin: 1rem 4em;
}

.nav {
    display: flex;
    justify-content: space-between;
    
}

.nav h1 {
    font-size: 13px;
}

.nav-area ul li {
    display: inline;
    margin-left: 1.5rem;
    font-size: 9px;
    font-weight: bold;

}

.nav-area li a {
    text-decoration: none;

}

.header-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -99;
}

/* -------end of nav------ */

.section1 {
    margin: 3rem 0;
    display: flex;
}

span {
    text-transform: capitalize;
    color: #FF9900;
    font-size: 10px;
    font-weight: bold;
}


.section1 h1 {
    font-size: 28px;
    font-weight: 800;
    line-height: 1.3em;
    width: 18rem; 
}

section p {
    
}