@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

*, html, body {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Manrope', sans-serif;
    color: #000000;
}

.container {
    margin: 1rem 5em;
}

.nav {
    display: flex;
    justify-content: space-between;
    
}

.nav h1 {
    font-size: 13px;
    padding-top: 11px;
}

.nav-area ul li {
    display: inline;
    margin-left: 1.2rem;
    font-size: 9px;
    font-weight: bold;

}

.nav-area li a {
    text-decoration: none;

}

.header-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -99;
}

.header-image img {
    width: 309px;
    height: 33rem;
}

/* -------end of nav------ */

.section1 {
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
}

span {
    text-transform: capitalize;
    color: #FF9900;
    font-size: 10px;
    font-weight: bold;
}


.section1 h1 {
    padding-top: 0.8rem;
    font-size: 25px;
    font-weight: 800;
    line-height: 1.3em;
    width: 15.8rem; 
}

section p {
    font-size: 9px;
    width: 16rem;
    padding: 0.8rem 0;
}

.smart-des {
     margin-top: 2rem;
    margin-right: 4rem; 
}

.smart-image img {
    margin-left: -5rem;
    width: 29rem;
    height: 28rem;
}


.logo {
    margin: 9.3rem 0;

}

.logo img {
    width: 33rem;
    height: 1rem;
}